<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Report</title>
  </head>
  <body>
    <h1>Sales Report</h1>
    <ul>
      {% for order in orders %}
      <li>
        Order ID: {{ order.id }} - Total Price: ${{ order.total_price }} - Date:
        {{ order.date }}
        <ul>
          {% for item in order.items %}
          <li>{{ item.book.title }} - Quantity: {{ item.quantity }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Back to Home</a>
  </body>
</html>
